In [1]:
#   openpyxl
#   pandas

In [2]:
from openpyxl import Workbook

In [3]:
#  wba = Workbook()
from openpyxl import load_workbook

In [4]:
wba = Workbook()

In [7]:
pass

In [10]:
wsa = wba.active

In [11]:
wsa.title = 'sample_labs'

In [12]:
wsa['B2'] = 56.678

In [13]:
wsa.cell(column=1, row=2).value = "hello"

In [14]:
wsb = wba.create_sheet(title='new_labs')

In [15]:
for row in range(1, 6):
    wsb.append(range(9))

In [16]:
wba.save("two.xlsx")

In [17]:
from openpyxl import load_workbook
wbc = load_workbook('one.xlsx')

In [18]:
wbc.sheetnames

['span', 'labs']

In [19]:
wsc = wbc['span']

In [20]:
wsd = wbc['labs']

In [22]:
wsc['B5'].value

7

In [23]:
data = []
for i in range(1,9):
    data.append(wsc.cell(row=i, column=2).value)

In [24]:
data

[22, 12, 34, 56, 7, 8, 99, 100]

In [25]:
x = wsd.cell(row=4, column=1)

In [26]:
type(x)

openpyxl.cell.cell.Cell

In [27]:
x.value

'data'

In [28]:
wsd.cell(row=4, column=1).value

'data'

In [29]:
wsd.cell(row=4, column=1).comment

Comment: Shobhit Nigam:
some data inserted by Shobhit Nigam

In [30]:
x = wsc.cell(column=4, row=8)

In [31]:
x.value

In [32]:
y = wsd.cell(row=4, column=1)

In [33]:
y.value

'data'

In [34]:
y.comment

Comment: Shobhit Nigam:
some data inserted by Shobhit Nigam

data Comment: Shobhit Nigam:
some data inserted by Shobhit Nigam

In [36]:
dicta = {y.value:y.comment}

In [37]:
dicta

{'data': Comment: Shobhit Nigam:
 some data inserted by Shobhit Nigam}

In [38]:
wba.close()

In [39]:
wbc.close()

In [40]:
from openpyxl import load_workbook
wbd = load_workbook('one.xlsx')
wbd.sheetnames[0]

'span'

In [41]:
sheet1 = wbd['span']

In [42]:
#    sheet1.cell(column=2, row)

In [43]:
for i in range(1,9):
    print(sheet1.cell(column=2, row=i).value)

22
12
34
56
7
8
99
100

In [44]:
listavg = []
for i in range(1,9):
    listavg.append(sheet1.cell(column=2, row=i).value)

In [45]:
listavg

[22, 12, 34, 56, 7, 8, 99, 100]

In [46]:
avg = sum(listavg)/len(listavg)

In [47]:
avg

42.25

In [48]:
sum(listavg)

338

In [49]:
x = input("enter the value")

enter the value33

In [50]:
x

'33'

In [51]:
x = int(input("enter the value"))

enter the value56

In [52]:
type(x)

int

In [63]:
def funca():
    file = input("enter filename: ")
    col = int(input("enter column num: "))
    wbe = load_workbook(file)
    wse = wbe[wbe.sheetnames[0]]
    maxrow = int(input("enter max row: "))
    if maxrow==0:
        maxrow = wse.max_row
    listavg = []
    for i in range(1, maxrow+1):
        listavg.append(wse.cell(row=i, column=col).value)
    avg = sum(listavg)/len(listavg)
    wbe.close()
    return avg

In [64]:
val = funca()

enter filename: three.xlsx
enter column num: 4
enter max row: 0

In [60]:
val

1.75

In [65]:
val

2.4444444444444446

In [66]:
import pandas as pd

In [68]:
dfa = pd.read_excel('three.xlsx')

In [69]:
type(dfa)

pandas.core.frame.DataFrame

In [70]:
dfa

  name  values  value2  value3
0   hh    22.0       5       1
1   aa    12.0       6       1
2   bb    34.0       7       2
3   cc    56.0       8       3
4   dd     7.0       9       4
5   ee     8.0      10       5
6   ff    99.0      23       3
7   gg   100.0      45       2
8  NaN     NaN      67       1

In [71]:
dfa.value2.min()

5

In [75]:
dfa.value2.std()

21.788758569500924

In [78]:
dfa.describe()

           values     value2    value3
count    8.000000   9.000000  9.000000
mean    42.250000  20.000000  2.444444
std     38.828377  21.788759  1.424001
min      7.000000   5.000000  1.000000
25%     11.000000   7.000000  1.000000
50%     28.000000   9.000000  2.000000
75%     66.750000  23.000000  3.000000
max    100.000000  67.000000  5.000000

In [79]:
dfa.value3.mean()

2.4444444444444446

In [80]:
dfa

  name  values  value2  value3
0   hh    22.0       5       1
1   aa    12.0       6       1
2   bb    34.0       7       2
3   cc    56.0       8       3
4   dd     7.0       9       4
5   ee     8.0      10       5
6   ff    99.0      23       3
7   gg   100.0      45       2
8  NaN     NaN      67       1